[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
export_scad = "python export_scad.py"

[packages]
numpy = "*"
euclid3 = "*"
solidpython = {git = "https://github.com/SolidCode/SolidPython.git", ref = "37417daac6397e7fdeab511136567536840f782a"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
# Current stable release of SolidPython has issues with extrude_along_path()
